/* Getting rid of background as screenshots are the background */
.gallery {
  background: none;
}

.gallery-cell {
  width: 66%; /* Responsive width */
  min-width: 200px; /* Minimum width for small screens */
  max-width: 400px; /* Maximum width for large screens */
  margin-right: 10px;
  background: none;
}

/* For smaller screens */
@media (max-width: 768px) {
  .gallery-cell {
    width: 80%;
    min-width: 150px;
  }
}

/* For larger screens */
@media (min-width: 1200px) {
  .gallery-cell {
    width: 50%;
  }
}

.gallery-cell img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.fullscreen-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen-modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

#close-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}